<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>CD Organizer</title>
  </head>
  <body>
  <div class="container">
    <div class="jumbotron">
      <h1>CD Organizer</h1>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
